*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}



/* wheels */

#right-wheel, #left-wheel {
    animation: wheel 1s infinite linear; /* infinite para rodar sem parar e linear para ter um comportamento padrao */
    transform-origin: center;
    transform-box: fill-box; /* fiz rodar na "propia caixa" do wheel */
}

@keyframes wheel{
    from {
        transform: rotateZ(0deg); /* A classe roda ira girar de 0 ate 360 graus no eixo z*/
    }
    to {
        transform: rotateZ(360deg);
    }
}


/* man on bike */

#man-bike {
    animation: bike 1s ease-in-out infinite alternate-reverse;
    transform-origin: bottom;
}

@keyframes bike{
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(20deg);
    }
}